{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block content %}
    <p>This is a program created to bring together concepts together from different aspects of learning to see how
        things can be designed to work together. In this case, Wikipedia API and Web programming skills, all of which
        are possible through the Python programming language. It was designed to further learning and development of
        different programming languages. To develop innovative skills in bringing concept to reality.</p>
{% endblock %}